@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap');

$font-primary: 'La Belle Aurore', cursive;
$font-secondary: 'Cardo', serif;
$font-sans-serif: 'Gudea', sans-serif;
$font-display: 'Josefin sans', sans-serif;
$font-calligraphic: 'Mea Culpa', cursive;