@import 'colors';
@import 'fonts';

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: #cb6139;
  background-image: url(../img/flowers-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  @media screen and (orientation: landscape) {
    background-size: 210%;
  }

  p {
    margin: 0;
  }

  .intro-text {
    font-family: $font-secondary;
    font-style: italic;
    font-size: 1rem;
    color: $color-primary;
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 2rem;
    }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      font-size: 2rem;
    }
  }

  .names {
    display: block;
    font-family: $font-calligraphic;
    font-size: 3rem;
    color: $color-primary;
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 5rem;
    }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      font-size: 5rem;
    }
  }

  .countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .flowers-frame {
      position: absolute;
      width: 200px;
      @media screen and (min-width: 768px) and (orientation: portrait) {
        width: 400px;
      }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        width: 400px;
      }
    }

    .days {
      position: relative;
      top: 37px;
      left: -4px;
      font-family: $font-display;
      font-style: italic;
      font-weight: bolder;
      font-size: 5rem;
      color: $color-bg;
      text-shadow: 0 4px 28px #b06562;
      @media screen and (min-width: 768px) and (orientation: portrait) {
        font-size: 10rem;
        top: 60px;
        left: -10px;
      }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        font-size: 10rem;
        top: 60px;
        left: -10px;
      }
    }

    .label {
      position: relative;
      bottom: 47px;
      left: 92px;
      line-height: 27px;
      transform: rotate(338deg);
      font-size: 1.2rem;
      font-family: $font-primary;
      color: #b06562;
      @media screen and (min-width: 768px) and (orientation: portrait) {
        font-size: 2rem;
        line-height: 47px;
        bottom: 90px;
        left: 170px;
      }
      @media screen and (min-width: 1024px) and (orientation: landscape) {
        font-size: 2rem;
        line-height: 47px;
        bottom: 90px;
        left: 170px;
      }
    }
  }

}

.header .arrow-down {
  height: 150px;
  width: 200px;
  position: relative;
  top: 180px;
}