@import 'colors';
@import 'fonts';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  gap: 15%;
  margin-bottom: 3rem;
  background-color: #cb6139;
  background-image: url(../img/flowers-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  @media screen and (orientation: landscape) {
    background-size: 210%;
  }

  p {
    margin: 0;
  }

  img {
    width: 70%;
    margin: 2rem auto;
  }

  .intro-text {
    font-family: $font-secondary;
    font-size: 1rem;
    color: $color-primary;
  }

  .days-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: unset;
    font-family: $font-display;
    font-style: italic;
    font-weight: bolder;
    font-size: 5rem;
    color: $color-bg;
    text-shadow: 0 4px 28px #b06562;
    &::before {
      content: '';
      background-image: url(img/days.png);
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      position: absolute;
      background-size: contain;
    }
    & .label {
      // content: 'days left';
      margin-top: -70px;
      font-size: 1rem;
      font-family: $font-primary;
    }
  }

  .names {
    font-family: $font-calligraphic;
    font-size: 3rem;
    color: $color-primary;
    // line-height: 160px;
  }

}

.header .arrow-down {
  height: 150px;
  width: 200px;
  position: relative;
  top: 180px;
}