@import 'reset';
@import 'colors';
@import 'fonts';
@import 'typography';
@import 'header';
@import 'nav';
@import 'buttons';

body {
  background: linear-gradient(90deg, $color-bg 0%, #f1d5af 100%);
  text-align: center;
  font-size: 1rem;
}

main {
  max-width: 1280px;
  margin: 2rem;
}

section {
  span {
    color: $brown;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}

.story {
  strong {
    color: $brown;
    @media screen and (min-width: 768px) and (orientation: portrait) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      font-size: 2.1rem;
    }
  }
}

.separator {
  max-width: 180px;
}

.photos-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media screen and (min-width: 1180px) and (orientation: landscape) {
    gap: 1rem;
    flex-direction: row;
  }

  .photo {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 5px 7px 20px rgba(94, 64, 25, 0.6);
    @media (orientation: landscape) {
      width: 360px;
      height: auto;
      margin: 0 auto;
    }
    @media screen and (min-width: 1024px) and (orientation: landscape) {
      width: 80%;
    }
    @media screen and (min-width: 1180px) and (orientation: landscape) {
      width: 350px;
    }
  }
}