@import 'colors';
@import 'fonts';

nav {
  width: 100%;
  // position: absolute;
  // bottom: -40px;
  @media screen and (orientation: landscape) {
    position: absolute;
    bottom: -40px;
  }
  @media screen and (min-width:896px) and (orientation: landscape) {
    bottom: -30px;
  }
  @media screen and (min-width: 1280px) {
    width: 30%;
  }

  ul {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  li {
    list-style-type: none;
  }

  a {
    &,
    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
      color: $brown;
      font-size: 2rem;
      font-family: $font-primary;
      cursor: pointer;
      @media screen and (min-width:390px) and (orientation:portrait) {
        font-size: 2.5rem;
      }
    }
    &:hover {
      color: $color-bg;
      text-shadow: 0 4px 28px #b06562;
    }
  }

}