@import 'colors';
@import 'fonts';

h1, h2 {
  font-family: $font-secondary;
  font-size: 2rem;
  color: $black;
}

p {
  margin: 2rem auto;
  font-size: 1rem;
  font-family: $font-primary;
}

span {
  font-family: $font-primary;
  color: $brown;
}