@import 'colors';
@import 'fonts';

h1, h2 {
  margin: 2rem auto;
  font-family: $font-secondary;
  font-size: 3rem;
  line-height: 1;
  color: $black;
  span {
    display: block;
    font-size: calc(1em*.5);
    font-family: $font-primary;
    text-transform: lowercase;
  }
}

h3 {
  font-size: 2.5rem;
  font-family: $font-secondary;
  color: $black;
}

p, ul {
  margin: 2rem auto;
  font-size: 1.5rem;
  font-family: $font-primary;
  line-height: 1.5;

  @media screen and (min-width: 768px) and (orientation: portrait) {
    font-size: 2rem;
  }
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    font-size: 1.7rem;
  }
}

span {
  font-family: $font-primary;
  @media screen and (min-width: 768px) and (orientation: portrait) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    font-size: 2.3rem;
  }
}

ul {
  li {
    font-size: inherit;
    padding-bottom: 15px;
    font-style: italic;
    }
}