@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=Mea+Culpa&display=swap");
html, *, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: "Cardo", serif;
  font-size: 2rem;
  color: #333;
}

p {
  font-size: 1rem;
  font-family: "La Belle Aurore", cursive;
}

header {
  display: flex;
  background-color: #cb6139;
  background-image: url(../img/flowers-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  width: 70%;
  margin: 2rem auto;
}
header .intro-text {
  font-family: "Cardo", serif;
  font-size: 3.4rem;
  color: #893720;
}
header .days-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: unset;
  font-size: 14rem;
  font-family: "Josefin sans", sans-serif;
  font-style: italic;
  font-weight: bolder;
  color: #faebd7;
  text-shadow: 0 4px 28px #b06562;
}
header .days-left::before {
  content: "";
  background-image: url(img/days.png);
  width: 300px;
  height: 300px;
  position: absolute;
  background-size: contain;
}
header .days-left::after {
  content: "days left";
  margin-top: -70px;
  font-size: 3rem;
  font-family: "La Belle Aurore", cursive;
}
header .names {
  margin-top: 0;
  padding-top: 1rem;
  font-family: "Mea Culpa", cursive;
  font-size: 9rem;
  color: #893720;
  line-height: 160px;
}

.header .arrow-down {
  height: 150px;
  width: 200px;
  position: relative;
  top: 180px;
}

nav {
  z-index: 9;
  position: absolute;
  top: 3rem;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 55px;
}
nav li {
  list-style-type: none;
}
nav a,
nav a:focus,
nav a:hover,
nav a:active {
  text-decoration: none;
  color: #893720;
  font-size: 5rem;
  font-family: "La Belle Aurore", cursive;
}

a.btn-primary, a.btn-primary:active, a.btn-primary:hover, a.btn-primary:visited {
  padding: 10px 40px;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem auto;
  background-color: #ffc2b0;
  color: #5e4019;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  background-color: #faebd7;
  text-align: center;
  font-size: 1rem;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

section span {
  color: #5e4019;
}
section .icon {
  width: 20px;
  height: 20px;
}
section .separator {
  margin: 1rem auto;
  max-width: 180px;
}

.story strong {
  color: #5e4019;
}
.story .rome-caption {
  margin-top: 8rem;
}

.when .month, .when .number {
  font-family: "La Belle Aurore", serif;
}

.where p {
  color: #5e4019;
}

img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
