@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
html, *, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: "Cardo", serif;
  font-size: 2rem;
  color: #333;
}

p {
  margin: 2rem auto;
  font-size: 1rem;
  font-family: "La Belle Aurore", cursive;
}

span {
  font-family: "La Belle Aurore", cursive;
  color: #5e4019;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  margin-bottom: 3rem;
  background-color: #cb6139;
  background-image: url(../img/flowers-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
}
@media screen and (orientation: landscape) {
  .header {
    background-size: 210%;
  }
}
.header p {
  margin: 0;
}
.header .intro-text {
  font-family: "Cardo", serif;
  font-size: 1rem;
  color: #893720;
}
.header .countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .countdown .flowers-frame {
  position: absolute;
  width: 200px;
}
.header .countdown .days {
  position: relative;
  top: 37px;
  left: -4px;
  font-family: "Josefin sans", sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 5rem;
  color: #faebd7;
  text-shadow: 0 4px 28px #b06562;
}
.header .countdown .label {
  position: relative;
  bottom: 47px;
  left: 92px;
  line-height: 27px;
  transform: rotate(338deg);
  font-size: 1.2rem;
  font-family: "La Belle Aurore", cursive;
  color: #b06562;
}
.header .names {
  font-family: "Mea Culpa", cursive;
  font-size: 3rem;
  color: #893720;
}

.header .arrow-down {
  height: 150px;
  width: 200px;
  position: relative;
  top: 180px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 55px;
}
nav li {
  list-style-type: none;
}
nav a,
nav a:focus,
nav a:hover,
nav a:active {
  text-decoration: none;
  color: #893720;
  font-size: 1.5rem;
  font-family: "La Belle Aurore", cursive;
}

a.btn-primary, a.btn-primary:active, a.btn-primary:hover, a.btn-primary:visited {
  padding: 10px 30px;
  border-radius: 5px;
  display: block;
  width: 200px;
  margin: 1rem auto;
  background-color: #ffc2b0;
  color: #5e4019;
  border: none;
  font-family: "Josefin sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: #faebd7;
  text-align: center;
  font-size: 1rem;
}

main {
  max-width: 1280px;
  margin: 2rem;
}

section span {
  color: #5e4019;
}
section .icon {
  width: 20px;
  height: 20px;
}

.story strong {
  color: #5e4019;
}

.separator {
  max-width: 180px;
}

.photos-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.photos-wrap .photo {
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 5px 7px 20px rgba(94, 64, 25, 0.6);
}
@media (orientation: landscape) {
  .photos-wrap .photo {
    width: 360px;
    height: auto;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
