@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Gudea&family=Josefin+Sans:wght@300;700&family=La+Belle+Aurore&family=Mea+Culpa&display=swap");
html, *, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  scroll-behavior: smooth;
}

h1, h2 {
  margin: 2rem auto;
  font-family: "Mea Culpa", cursive;
  font-size: 3rem;
  line-height: 1;
  font-weight: lighter;
  color: #333;
}
h1 span, h2 span {
  display: block;
  font-size: 0.5em;
  font-family: "Cardo", serif;
  text-transform: lowercase;
}

h3 {
  font-size: 2.5rem;
  font-family: "Mea Culpa", cursive;
  color: #333;
  font-weight: lighter;
}

p, ul {
  margin: 2rem auto;
  font-size: 1.5rem;
  font-family: "Cardo", serif;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  p, ul {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  p, ul {
    font-size: 1.7rem;
  }
}

span {
  font-family: "Cardo", serif;
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  span {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  span {
    font-size: 2.3rem;
  }
}

ul li {
  font-size: inherit;
  padding-bottom: 15px;
  font-style: italic;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
  align-items: center;
  height: 100vh;
  padding: 1em;
  margin-bottom: 3rem;
  background-image: url(img/flowers-bg.jpg);
  background-color: rgba(255, 255, 255, 0.77);
  background-size: 300%;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
@media screen and (orientation: landscape) {
  .header {
    background-position: center left;
    background-size: 170%;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    gap: 2em;
  }
}
@media screen and (min-width: 280px) and (orientation: portrait) {
  .header {
    background-size: 560%;
  }
}
@media screen and (min-width: 360px) and (orientation: portrait) {
  .header {
    background-size: 380%;
  }
}
@media screen and (min-width: 375px) and (orientation: portrait) {
  .header {
    justify-content: center;
    gap: 3em;
  }
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  .header {
    background-size: 360%;
  }
}
@media screen and (min-width: 414px) and (orientation: portrait) {
  .header {
    justify-content: initial;
    background-size: 400%;
    gap: 2em;
  }
}
@media screen and (min-width: 667px) and (orientation: landscape) {
  .header {
    gap: 3em;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 896px) and (orientation: landscape) {
  .header {
    gap: 3em;
    justify-content: start;
    background-position: center left;
    background-size: 160%;
  }
}
@media screen and (min-width: 912px) and (orientation: portrait) {
  .header {
    background-size: 370%;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    justify-content: center;
  }
}
@media (horizontal-viewport-segments: 2) {
  .header {
    justify-content: center;
    background-size: cover;
  }
}
@media (vertical-viewport-segments: 2) {
  .header {
    flex-direction: row-reverse;
    gap: 16em;
  }
}
@media screen and (min-width: 1180px) and (orientation: landscape) {
  .header {
    gap: 5em;
  }
}
@media screen and (min-width: 1368px) and (orientation: landscape) {
  .header {
    gap: 4em;
  }
}
.header .audio-icon {
  position: fixed;
  top: 5%;
  right: 0;
  width: 40px;
  margin: 10px;
  cursor: pointer;
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  .header .audio-icon {
    top: 13%;
  }
}
@media screen and (min-width: 414px) and (orientation: portrait) {
  .header .audio-icon {
    top: 4%;
  }
}
.header p {
  margin: 0;
}
.header .intro-text {
  font-family: "Cardo", serif;
  font-style: italic;
  font-size: 1.3rem;
  color: #5e4019;
}
@media screen and (orientation: landscape) {
  .header .intro-text {
    flex-basis: 40%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  .header .intro-text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 414px) and (orientation: portrait) {
  .header .intro-text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .header .intro-text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .header .intro-text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 653px) and (max-height: 280px) and (orientation: landscape) {
  .header .intro-text {
    margin-top: 15px;
  }
}
@media (vertical-viewport-segments: 2) {
  .header .intro-text {
    max-width: 30vw;
    text-align: left;
  }
}
.header .names {
  display: block;
  font-family: "Mea Culpa", cursive;
  font-size: 3rem;
  line-height: 1.2;
  color: #b06562;
}
@media screen and (orientation: landscape) {
  .header .names {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  .header .names {
    font-size: 4rem;
    top: 20px;
    left: -17px;
  }
}
@media screen and (min-width: 414px) and (orientation: portrait) {
  .header .names {
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .header .names {
    font-size: 8rem;
  }
}
@media screen and (min-width: 896px) and (orientation: landscape) {
  .header .names {
    font-size: 4rem;
    left: -5px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .header .names {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: portrait) {
  .header .names {
    font-size: 10rem;
  }
}
@media screen and (min-width: 1024px) and (max-height: 600px) and (orientation: landscape) {
  .header .names {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1368px) and (orientation: landscape) {
  .header .names {
    font-size: 8rem;
  }
}
@media (horizontal-viewport-segments: 2) {
  .header .names {
    font-size: 6rem;
    line-height: 1.2;
  }
}
.header .countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (vertical-viewport-segments: 2) and (min-width: 720px) {
  .header .countdown {
    margin-top: 20rem;
  }
}
@media (horizontal-viewport-segments: 2) {
  .header .countdown {
    margin-top: 0;
  }
}
.header .countdown .flowers-frame {
  position: absolute;
  width: 200px;
}
@media screen and (orientation: landscape) {
  .header .countdown .flowers-frame {
    position: absolute;
    width: 170px;
  }
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  .header .countdown .flowers-frame {
    width: 270px;
  }
}
@media screen and (min-width: 740px) and (orientation: landscape) {
  .header .countdown .flowers-frame {
    width: 200px;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .header .countdown .flowers-frame {
    width: 400px;
  }
}
@media screen and (min-width: 896px) and (orientation: landscape) {
  .header .countdown .flowers-frame {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .header .countdown .flowers-frame {
    width: 360px;
  }
}
.header .countdown .days {
  position: relative;
  top: 17px;
  left: -10px;
  font-family: "Mea Culpa", cursive;
  font-weight: bolder;
  font-size: 5rem;
  color: white;
  text-shadow: #767676 0 4px 8px;
  animation-name: grow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media screen and (min-width: 360px) and (orientation: portrait) {
  .header .countdown .days {
    top: 10px;
  }
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  .header .countdown .days {
    font-size: 6rem;
  }
}
@media screen and (min-width: 414px) and (orientation: portrait) {
  .header .countdown .days {
    top: 22px;
    left: -17px;
    font-size: 7rem;
  }
}
@media screen and (min-width: 740px) and (orientation: landscape) {
  .header .countdown .days {
    top: 12px;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .header .countdown .days {
    font-size: 10rem;
    top: 25px;
    left: -10px;
  }
}
@media screen and (min-width: 820px) and (orientation: portrait) {
  .header .countdown .days {
    top: 23px;
  }
}
@media screen and (min-width: 844px) and (orientation: landscape) {
  .header .countdown .days {
    font-size: 4rem;
    top: 14px;
    left: -7px;
  }
}
@media screen and (min-width: 896px) and (orientation: landscape) {
  .header .countdown .days {
    top: 13px;
    left: -10px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .header .countdown .days {
    font-size: 9rem;
    top: 20px;
    left: -10px;
  }
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.header .countdown .label {
  position: relative;
  bottom: 64px;
  left: 92px;
  transform: rotate(349deg);
  line-height: 21px;
  font-size: 1rem;
  color: #5e4019;
  font-family: "Cardo", serif;
  text-transform: uppercase;
  text-align: left;
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  .header .countdown .label {
    bottom: 77px;
    left: 120px;
    line-height: 30px;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 414px) and (orientation: portrait) {
  .header .countdown .label {
    line-height: 30px;
    bottom: 93px;
    left: 120px;
  }
}
@media screen and (min-width: 740px) and (orientation: landscape) {
  .header .countdown .label {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .header .countdown .label {
    font-size: 2.5rem;
    line-height: 40px;
    bottom: 130px;
    left: 200px;
  }
}
@media screen and (min-width: 820px) and (orientation: portrait) {
  .header .countdown .label {
    font-size: 2.5rem;
    line-height: 40px;
    bottom: 133px;
  }
}
@media screen and (min-width: 844px) and (orientation: landscape) {
  .header .countdown .label {
    bottom: 54px;
  }
}
@media screen and (min-width: 896px) and (orientation: landscape) {
  .header .countdown .label {
    bottom: 56px;
    left: 100px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .header .countdown .label {
    font-size: 2rem;
    line-height: 30px;
    bottom: 115px;
    left: 180px;
  }
}

.header .arrow-down {
  height: 150px;
  width: 200px;
  position: relative;
  top: 180px;
}

nav {
  padding-bottom: 10px;
}
@media screen and (orientation: landscape) {
  nav {
    position: absolute;
    right: 1em;
    bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  nav {
    width: 30%;
  }
}
nav ul {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}
@media screen and (min-width: 800px) {
  nav ul {
    justify-content: space-evenly;
  }
}
nav li {
  list-style-type: none;
}
nav a, nav a:focus, nav a:hover, nav a:active {
  text-decoration: none;
  color: #5e4019;
  font-size: 2rem;
  font-family: "Cardo", serif;
  cursor: pointer;
}
@media screen and (orientation: landscape) {
  nav a, nav a:focus, nav a:hover, nav a:active {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 390px) and (orientation: portrait) {
  nav a, nav a:focus, nav a:hover, nav a:active {
    font-size: 2.5rem;
  }
}
nav a:hover {
  color: #b06562;
  transform: translateX(-10px);
}

a.btn-primary, a.btn-primary:active, a.btn-primary:hover, a.btn-primary:visited {
  padding: 10px 30px;
  border-radius: 5px;
  display: block;
  width: 200px;
  margin: 1rem auto;
  background-color: #ffc2b0;
  color: #5e4019;
  border: none;
  box-shadow: 0 4px 28px #ffc2b0;
  font-family: "Cardo", serif;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  a.btn-primary, a.btn-primary:active, a.btn-primary:hover, a.btn-primary:visited {
    width: 400px;
    font-size: 1.5rem;
  }
}
a.btn-primary:hover {
  box-shadow: 0 4px 28px #e09b86;
}

body {
  background: linear-gradient(90deg, #fff 0%, #faebd7 100%);
  text-align: center;
  font-size: 1rem;
}

main {
  max-width: 1280px;
  margin: 2rem auto;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

section .icon {
  width: 20px;
  height: 20px;
}

li {
  list-style-type: square;
}

.story ul {
  text-align: left;
}
@media screen and (orientation: landscape) {
  .story ul {
    margin: 2rem;
  }
}
@media (min-width: 667px) and (orientation: landscape) {
  .story ul {
    margin: 4rem;
  }
}
.story strong {
  color: #5e4019;
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .story strong {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .story strong {
    font-size: 2.1rem;
  }
}
.story__highlight {
  font-family: inherit;
  font-size: inherit;
}
@media screen and (min-width: 992px) {
  .story__highlight {
    display: inline;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  ul.recipe {
    margin: 0 7rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  ul.recipe {
    margin: 0 14rem;
  }
}
ul.recipe span {
  font-size: inherit;
  font-weight: bolder;
  color: #5e4019;
}

.separator {
  max-width: 180px;
}

.photos-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.photos-wrap .photo {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 5px 7px 20px rgba(94, 64, 25, 0.6);
}
@media screen and (orientation: landscape) {
  .photos-wrap .photo {
    width: 360px;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .photos-wrap .photo {
    width: 80%;
  }
}

.when .date {
  font-family: "cardo", cursive;
  color: #5e4019;
  font-size: 1.8rem;
  font-weight: bolder;
}

.where strong {
  font-size: 2rem;
  font-family: "Cardo", serif;
  color: #5e4019;
}
.where span {
  font-family: "Cardo", serif;
  font-size: inherit;
}

/*# sourceMappingURL=style.css.map */
